* {
  font-size: 25px;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: gray;
  background-image: url("images/tinder_background.jpeg");
  font-family: "Krona One", sans-serif;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 10px;
  font-family: "Krona One", sans-serif;
}

button {
  padding: 10px;
  font-family: "Krona One", sans-serif;
}

a {
  font-size: 0.6rem;
  color: black;
}
