.home {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .right {
  display: flex;
  align-items: center;
  margin: 10px;
}

.logo {
  width: 3rem;
}

.greeting_text {
  font-size: 0.5rem;
}

.greeter {
  font-size: 0.6rem;
  margin: 0 10px 0 10px;
}
